:host {

  ion-textarea {
    width: 100%!important;
    --width: 100%!important;
    --padding-top: 0px!important;
  }
  textarea::-webkit-scrollbar {
    display: none;
  }
  ion-toolbar {
    --background: transparent;
  }

  .msgContainer {
    border-radius: 20px 20px 20px 0px;
    background-color: rgba(var(--ion-color-primary-rgb), 0.3);
    padding: 0.5rem 1rem;
    white-space: pre-wrap;
    max-width: 70vw;
  }

}